
  <div id="loginModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header headerColor">
        <%=link_to "x" , root_url, method: :get,:class=>"close"%>
        <h4 class="modal-title" style="color:white;" style="color:#222">Inicio Sesion</h4>
      </div>
      <div class="modal-body">
        <div class="">
          <div class="row">
            <div class="col-sm-offset-1 col-sm-10">
              <% if flash[:alert] %>
                <p id="notice"><%= flash[:alert] %></p>
              <% end %>
              <%= form_tag("/login", method: "post") do %>
                <fieldset>
                  <div>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <%= label_tag :name, 'Nombre de usuario:' %>
                    <br>
                    <%= text_field_tag :name, params[:name],:class=>"form-control" %>
                  </div>
                  <br>
                  <div>
                    <i class="fa fa-lock iconoPass" aria-hidden="true"></i>
                    <%= label_tag :password, 'Contraseña:',:class=>"" %>
                    <br>
                    <%= password_field_tag :password, params[:password],:class=>"form-control" %>
                  </div>
                </fieldset>              
            </div>
         </div>
         <br>                
      </div>
      <div class="modal-footer">
        <%= submit_tag "Aceptar",:class=>"btn btn-primary" %>
      </div>
      <% end %>
    </div>

  </div>
</div>
<script type="text/javascript">
    $(window).load(function(){
        $('#loginModal').modal('show');
    });

</script>

