<div id="registerModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Inicio Sesion</h4>
      </div>
      <div class="modal-body">
      <div class="col-sm-offset-2">
          <% if flash[:alert] %>
            <p id="notice"><%= flash[:alert] %></p>
          <% end %>
          <%= form_tag("/login", method: "post") do %>
            <fieldset>
              <div>
                <i class="fa fa-user" aria-hidden="true"></i>
                <%= label_tag :name, 'Nombre de usuario:' %>
                <%= text_field_tag :name, params[:name],:class=>"infoName" %>
              </div>
              <br>
              <div>
                <i class="fa fa-lock" aria-hidden="true"></i>
                <%= label_tag :password, 'Contraseña:' %>
                <%= password_field_tag :password, params[:password],:class=>"infoPass" %>
              </div>
              <div>
                
              </div>
            </fieldset>
          
        </div>            
      </div>
      <div class="modal-footer">
        <%= submit_tag "Aceptar",:class=>"btn btn-primary" %>
      </div>
      <% end %>
    </div>

  </div>
</div>
