<!DOCTYPE html>
<html>
<head>
  <title>Jobersity</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<% if session[:user_id] %>
	<%= button_to 'Logout', logout_path, method: :delete%>
<%else%>
	<button type="button" class="btn btn-info sessions" data-toggle="modal" data-target="#myModal">Iniciar Sesion</button>
<% end %>
</body>
</html>
