
<!DOCTYPE html>
<html > <!--<![endif]-->
	<head>
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<link rel="shortcut icon" href="favicon.ico">
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  	<%= csrf_meta_tags %>
	  	<style>

	  	</style>
	</head>
	<body>
	<header role="banner" id="fh5co-header">
			<div class="container">
				<!-- <div class="row"> -->
			   <%= render "layouts/navbar" %>
			  <!-- </div> -->
		  </div>
	</header>

	<%= render 'slider' %>
	<%= render 'about' %>
	<%= render 'services' %>
	<%= render 'features' %>
	<%= render 'testimonials'%>
	
	
	
	

	

	<div id="fh5co-pricing" data-section="pricing">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="single-animate animate-pricing-1">PRECIOS</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext single-animate animate-pricing-2">
							<h3>El precio para empleadores cambia depende al paquete. Para los estudiantes registrarse en TOTALMENTE GRATIS.</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="price-box to-animate">
						<h2 class="pricing-plan">Estudiante</h2>
						<div class="price"><sup class="currency">$</sup>0<small>/mo</small></div>
						<p>Este servicio para los estudiantes es totalmente gratis.</p>
						<hr>
						<ul class="pricing-info">
							<li>Accede a todos los empleadores</li>
							<li>Posicionate</li>
							<li>Haste ver</li>
							<li></li>
						</ul>
						<a href="#" class="btn btn-default btn-sm">Vinculate</a>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="price-box to-animate">
						<h2 class="pricing-plan">Emprende</h2>
						<div class="price"><sup class="currency">$</sup>19<small>/mo</small></div>
						<p>Gratis/1er año</p>
						<hr>
						<ul class="pricing-info">
							<li>$399* por estudiante reclutado Autoservicio</li>
							<li>&nsbp</li>
							<li>&nsbp</li>
						</ul>
						<a href="#" class="btn btn-default btn-sm">Vinculate</a>
					</div>
				</div>
				<div class="clearfix visible-sm-block"></div>
				<div class="col-md-3 col-sm-6 to-animate">
					<div class="price-box popular">
						<div class="popular-text">Negocios</div>
						<h2 class="pricing-plan">Plus</h2>
						<div class="price"><sup class="currency">$</sup>79<small>/mensual</small></div>
						<p>Basic customer support for small business</p>
						<hr>
						<ul class="pricing-info">
							<li>Perfil organizacional</li>
							<li>Ejecutivo de cuenta dedicado</li>
							<li>Sólo candidatos afines</li>
						</ul>
						<a href="#" class="btn btn-primary btn-sm">Vinculate</a>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="price-box to-animate">
						<h2 class="pricing-plan">Corporativo</h2>
						<div class="price"><sup class="currency">$</sup>125<small>/mensual</small></div>
						<p>Basic customer support for small business</p>
						<hr>
						<ul class="pricing-info">
							<li>Perfil organizacional</li>
							<li>Ejecutivo de cuenta dedicado</li>
							<li>Sólo candidatos afines</li>
						</ul>
						<a href="#" class="btn btn-default btn-sm">Vinculate</a>
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<div id="fh5co-press" data-section="press">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="single-animate animate-press-1">Empresas destacadas</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext single-animate animate-press-2">
							<h3>TOP EMPLEADORES</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<!-- Press Item -->
					<div class="fh5co-press-item to-animate">
						<div class="fh5co-press-img" style="background-image: url(images/img_7.jpg)">
						</div>
						<div class="fh5co-press-text">
							<h3 class="h2 fh5co-press-title">Tecnologico de Monterrey <span class="fh5co-border"></span></h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eius quos similique suscipit dolorem cumque vitae qui molestias illo accusantium...</p>
							<p><a href="#" class="btn btn-primary btn-sm">info</a></p>
						</div>
					</div>
					<!-- Press Item -->
				</div>

				<div class="col-md-6">
					<!-- Press Item -->
					<div class="fh5co-press-item to-animate">
						<div class="fh5co-press-img" style="background-image: url(images/img_8.jpg)">
						</div>
						<div class="fh5co-press-text">
							<h3 class="h2 fh5co-press-title">UNAM<span class="fh5co-border"></span></h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eius quos similique suscipit dolorem cumque vitae qui molestias illo accusantium...</p>
							<p><a href="#" class="btn btn-primary btn-sm">info</a></p>
						</div>
					</div>
					<!-- Press Item -->
				</div>
				
				<div class="col-md-6">
					<!-- Press Item -->
					<div class="fh5co-press-item to-animate">
						<div class="fh5co-press-img" style="background-image: url(images/img_9.jpg);">
						</div>
						<div class="fh5co-press-text">
							<h3 class="h2 fh5co-press-title">PAR UNO<span class="fh5co-border"></span></h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eius quos similique suscipit dolorem cumque vitae qui molestias illo accusantium...</p>
							<p><a href="#" class="btn btn-primary btn-sm">info</a></p>
						</div>
					</div>
					<!-- Press Item -->
				</div>

				<div class="col-md-6">
					<!-- Press Item -->
					<div class="fh5co-press-item to-animate">
						<div class="fh5co-press-img" style="background-image: url(images/img_10.jpg);">
						</div>
						<div class="fh5co-press-text">
							<h3 class="h2 fh5co-press-title">1000SHAKES <span class="fh5co-border"></span></h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eius quos similique suscipit dolorem cumque vitae qui molestias illo accusantium...</p>
							<p><a href="#" class="btn btn-primary btn-sm">info</a></p>
						</div>
					</div>
					<!-- Press Item -->
				</div>

			</div>
		</div>
	</div>
	

	<footer id="footer" role="contentinfo">
		<div class="container">
			
			<div class="row row-bottom-padded-sm">
				<div class="col-md-12">
					<p class="copyright text-center">&copy; 2016 <a href="index.html">Jobersity</a>. Todos los derechos reservados. <br>Desarrollado por <a href="http://www.wearetamo.com" target="_blank">TAMO</a>
				</div>
			</div>

		</div>
	</footer>


	<!-- Modal -->
	<%= render 'sessions/registerModal' %> 
	<%= render 'sessions/loginModal' %> 



	</body>
</html>
