
<!DOCTYPE html>
<html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Jobersity</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag "filename" %>

	<style>
	
	</style>


	</head>
	<body>
	<header role="banner" id="fh5co-header">
			<div class="container">
				<!-- <div class="row"> -->
			    <nav class="navbar navbar-default">
		        <div class="navbar-header">
		        	<!-- Mobile Toggle Menu Button -->
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
		          	<a class="navbar-brand" href="index.html"><%= image_tag "logo.png", :class => "img img-full img-responsive",:style=>"margin-top: -38px"%>  </a> 
		        </div>
		        <div id="navbar" class="navbar-collapse collapse">
		          <ul class="nav navbar-nav navbar-right">
		            <li class="active"><a href="#" data-nav-section="home"><span>Incio</span></a></li>
		            <li><a href="#" data-nav-section="services"><span>Servicios</span></a></li>
		            <li><a href="#" data-nav-section="features"><span>Ventajas</span></a></li>
		            <li><a href="#" data-nav-section="testimonials"><span>Testimonios</span></a></li>
		            <li><a href="#" data-nav-section="pricing"><span>Precio</span></a></li>
		            <li><a href="#" data-nav-section="press"><span>Empresas</span></a></li>
		            <li>
		            	<% if session[:user_id] %>						
							<%= button_to 'Cerrar Sesion', logout_path, method: :delete, :class=> 'btn btn-info sessions'%>	
						<%else%>
    		            	<button type="button" class="btn btn-info sessions" data-toggle="modal" data-target="#myModal">Iniciar Sesion</button>
						<% end %>
		            </li>
             	     <li>
             	     	<% if !session[:user_id] %>						
							<button type="button" class="btn btn-info signup" data-toggle="modal" data-target="#myModal1">Registrate</button>
						<% end %>
             	     	
             	     </li>
		          </ul>
		        </div>
			    </nav> 
			  <!-- </div> -->
		  </div>
	</header>

	<div id="slider" data-section="home">
		<div class="owl-carousel owl-carousel-fullwidth">
			<!-- You may change the background color here. -->
		    <div class="item" style="background: #352f44;">
		    	<div class="container" style="position: relative;">
		    		<div class="row">
					    <div class="col-md-7 col-sm-7">
			    			<div class="fh5co-owl-text-wrap">
						    	<div class="fh5co-owl-text">
						    		<h1 class="fh5co-lead to-animate">Empleador</h1>
									<h2 class="fh5co-sub-lead to-animate">
									Selecciona talento de las mejores Universidades de México

						    	</div>
						    </div>
					    </div>
					    <div class="col-md-4 col-md-push-1 col-sm-4 col-sm-push-1 iphone-image">
					    	<div class="iphone to-animate-2"><img src="images/iphone-2.png" alt=""></div>
					    </div>

		    		</div>
		    	</div>
		    </div>
			<!-- You may change the background color here.  -->
		    <div class="item" style="background: #38569f;">
		    	<div class="container" style="position: relative;">
		    		<div class="row">
		    			<div class="col-md-7 col-md-push-1 col-md-push-5 col-sm-7 col-sm-push-1 col-sm-push-5">
			    			<div class="fh5co-owl-text-wrap">
						    	<div class="fh5co-owl-text">
						    		<h1 class="fh5co-lead to-animate">Jobersity</h1>
									<h2 class="fh5co-sub-lead to-animate">
									Jobersity es la manera más rápida de cubrir una vacante, porque es el único sitio de vinculación inmediata con estudiantes: Tú reduces costos de reclutamiento y capacitación; ellos ganan experiencia.
						    	</div>
						    </div>
					    </div>
					    <div class="col-md-4 col-md-pull-7 col-sm-4 col-sm-pull-7 iphone-image">
					    	<div class="iphone to-animate-2"><img src="images/iphone-1.png" alt=""></div>
					    </div>

		    		</div>
		    	</div>
		    </div>

		    <div class="item" style="background-image:url(images/slide_5.jpg)">
		    	<div class="overlay"></div>
		    	<div class="container" style="position: relative;">
		    		<div class="row">
		    			<div class="col-md-8 col-md-offset-2 text-center">
		    				<div class="fh5co-owl-text-wrap">
						    	<div class="fh5co-owl-text">
		    						<h1 class="fh5co-lead to-animate">Metas, Sueños, Posibilidades infinitas...</h1>
								
								</div>
							</div>
		    			</div>
		    		</div>
		    	</div>
		    </div>

		</div>
	</div>
	
	<div id="fh5co-about-us" data-section="about">
		<div class="container">
			<div class="row row-bottom-padded-lg" id="about-us">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">¿Porque Jobersity?</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 to-animate">
							<h3>Jobersity es la manera más rápida de cubrir una vacante, porque es el único sitio de vinculación inmediata con estudiantes: Tú reduces costos de reclutamiento y capacitación; ellos ganan experiencia.</h3>
						</div>
					</div>
				</div>
				<div class="col-md-8 to-animate">
					<img src="images/img_1.jpg" class="img-responsive img-rounded" alt="">
				</div>
				<div class="col-md-4 to-animate">
					<h2>¿Como surge Jobersity?</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eius quos similique suscipit dolorem cumque vitae qui molestias illo accusantium...</p>
					<p><a href="#" class="btn btn-primary">Conoce al equipo</a></p>
				</div>
			</div>			
		</div>
	</div>
	<div id="fh5co-our-services" data-section="services">
		<div class="container">
			<div class="row row-bottom-padded-sm">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">Servicios</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 to-animate">
							<h3></h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="box to-animate">
						<div class="icon colored-1"><span><i class="icon-mustache"></i></span></div>
						<h3>Candidatos</h3>
						<p>Sólo verás candidatos afines</p>
					</div>
					<div class="box to-animate">
						<div class="icon colored-4"><span><i class="icon-heart"></i></span></div>
						<h3>Videocurrículum (VCV)</h3>
						<p>Acceso a video de las empresas o de los practicantes</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="box to-animate">
						<div class="icon colored-2"><span><i class="icon-screen-desktop"></i></span></div>
						<h3>Curriculum</h3>
						<p>Sube tu curriculum y demuestra tus habilidades</p>
					</div>
					<div class="box to-animate">
						<div class="icon colored-5"><span><i class="icon-rocket"></i></span></div>
						<h3>Cantacta al candidato</h3>
						<p>Contacta al candidato desde nuestra plataforma</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="box to-animate">
						<div class="icon colored-3"><span><i class="icon-eye"></i></span></div>
						<h3>Ejecutivo de cuenta dedicado</h3>
						<p>Tedras un ejecutivo dedicado</p>
					</div>
					<div class="box to-animate">
						<div class="icon colored-6"><span><i class="icon-user"></i></span></div>
						<h3>Nube</h3>
						<p>Almacena y gestiona la documentación en la nube, y accede de manera segura desde cualquier parte</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="fh5co-features" data-section="features">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="single-animate animate-features-1">Ventajas</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 single-animate animate-features-2">
							<h3></h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-bottom-padded-sm">
				<div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
					<div class="fh5co-icon"><i class="icon-present"></i></div>
					<div class="fh5co-desc">
						<h3>Representante de campus</h3>
						<p>Los Representantes de campus Jobersity te ayudarán a que tu perfil sea visto por empleadores y seas contactado rápidamente. </p>
					</div>	
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
					<div class="fh5co-icon"><i class="icon-eye"></i></div>
					<div class="fh5co-desc">
						<h3>Orientación vocacional</h3>
						<p>¿Aún no sabes cuál es tu trabajo ideal? Jobersity te da sugerencias e información útil para encontrar aquello que amas y lo hagas con pasión. </p>
					</div>
				</div>
				<div class="clearfix visible-sm-block visible-xs-block"></div>
				<div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
					<div class="fh5co-icon"><i class="icon-crop"></i></div>
					<div class="fh5co-desc">
						<h3>Recibe un sueldo</h3>
						<p>Jobersity cree en el trabajo remunerado, mereces apoyo económico por ser líder y agente de cambio.</p>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
					<div class="fh5co-icon"><i class="icon-speedometer"></i></div>
					<div class="fh5co-desc">
						<h3>Experiencia comprobable</h3>
						<p>La misión de Jobersity es que no haya egresados sin experiencia en el trabajo, se acabaron los pretextos.</p>
					</div>	
				</div>
			</div>				
		</div>
	</div>

	<div id="fh5co-testimonials" data-section="testimonials">		
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">Testimonios</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>Lee lo que nuestros usuarios tienen que decir acerca de Jobersity </h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="box-testimony to-animate">
						<blockquote>
							<span class="quote"><span><i class="icon-quote-left"></i></span></span>
							<p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eius quos similique suscipit dolorem cumque vitae qui molestias illo accusantium...&rdquo;</p>
						</blockquote>
						<p class="author">Jose Dominquez, CEO <a href="http://freehtml5.co/" target="_blank"></a> <span class="subtext">Creative Director</span></p>
					</div>
					
				</div>
				<div class="col-md-4">
					<div class="box-testimony to-animate">
						<blockquote>
							<span class="quote"><span><i class="icon-quote-left"></i></span></span>
							<p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eius quos similique suscipit dolorem cumque vitae qui molestias illo accusantium...&rdquo;</p>
						</blockquote>
						<p class="author">Jorge Vargas, CEO <a href="http://freehtml5.co/" target="_blank"></a> <span class="subtext">Sales Man</span></p>
					</div>
					
					
				</div>
				<div class="col-md-4">
					<div class="box-testimony to-animate">
						<blockquote>
							<span class="quote"><span><i class="icon-quote-left"></i></span></span>
							<p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eius quos similique suscipit dolorem cumque vitae qui molestias illo accusantium...&rdquo;</p>
						</blockquote>
						<p class="author">Maria Gomez <a href="#"></a> <span class="subtext">Manager</span></p>
					</div>
					
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-pricing" data-section="pricing">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="single-animate animate-pricing-1">PRECIOS</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext single-animate animate-pricing-2">
							<h3>El precio para empleadores cambia depende al paquete. Para los estudiantes registrarse en TOTALMENTE GRATIS.</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="price-box to-animate">
						<h2 class="pricing-plan">Estudiante</h2>
						<div class="price"><sup class="currency">$</sup>0<small>/mo</small></div>
						<p>Este servicio para los estudiantes es totalmente gratis.</p>
						<hr>
						<ul class="pricing-info">
							<li>Accede a todos los empleadores</li>
							<li>Posicionate</li>
							<li>Haste ver</li>
							<li></li>
						</ul>
						<a href="#" class="btn btn-default btn-sm">Vinculate</a>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="price-box to-animate">
						<h2 class="pricing-plan">Emprende</h2>
						<div class="price"><sup class="currency">$</sup>19<small>/mo</small></div>
						<p>Gratis/1er año</p>
						<hr>
						<ul class="pricing-info">
							<li>$399* por estudiante reclutado Autoservicio</li>
							<li>&nsbp</li>
							<li>&nsbp</li>
						</ul>
						<a href="#" class="btn btn-default btn-sm">Vinculate</a>
					</div>
				</div>
				<div class="clearfix visible-sm-block"></div>
				<div class="col-md-3 col-sm-6 to-animate">
					<div class="price-box popular">
						<div class="popular-text">Negocios</div>
						<h2 class="pricing-plan">Plus</h2>
						<div class="price"><sup class="currency">$</sup>79<small>/mensual</small></div>
						<p>Basic customer support for small business</p>
						<hr>
						<ul class="pricing-info">
							<li>Perfil organizacional</li>
							<li>Ejecutivo de cuenta dedicado</li>
							<li>Sólo candidatos afines</li>
						</ul>
						<a href="#" class="btn btn-primary btn-sm">Vinculate</a>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="price-box to-animate">
						<h2 class="pricing-plan">Corporativo</h2>
						<div class="price"><sup class="currency">$</sup>125<small>/mensual</small></div>
						<p>Basic customer support for small business</p>
						<hr>
						<ul class="pricing-info">
							<li>Perfil organizacional</li>
							<li>Ejecutivo de cuenta dedicado</li>
							<li>Sólo candidatos afines</li>
						</ul>
						<a href="#" class="btn btn-default btn-sm">Vinculate</a>
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<div id="fh5co-press" data-section="press">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="single-animate animate-press-1">Empresas destacadas</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext single-animate animate-press-2">
							<h3>TOP EMPLEADORES</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<!-- Press Item -->
					<div class="fh5co-press-item to-animate">
						<div class="fh5co-press-img" style="background-image: url(images/img_7.jpg)">
						</div>
						<div class="fh5co-press-text">
							<h3 class="h2 fh5co-press-title">Tecnologico de Monterrey <span class="fh5co-border"></span></h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eius quos similique suscipit dolorem cumque vitae qui molestias illo accusantium...</p>
							<p><a href="#" class="btn btn-primary btn-sm">Learn more</a></p>
						</div>
					</div>
					<!-- Press Item -->
				</div>

				<div class="col-md-6">
					<!-- Press Item -->
					<div class="fh5co-press-item to-animate">
						<div class="fh5co-press-img" style="background-image: url(images/img_8.jpg)">
						</div>
						<div class="fh5co-press-text">
							<h3 class="h2 fh5co-press-title">UNAM<span class="fh5co-border"></span></h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eius quos similique suscipit dolorem cumque vitae qui molestias illo accusantium...</p>
							<p><a href="#" class="btn btn-primary btn-sm">Learn more</a></p>
						</div>
					</div>
					<!-- Press Item -->
				</div>
				
				<div class="col-md-6">
					<!-- Press Item -->
					<div class="fh5co-press-item to-animate">
						<div class="fh5co-press-img" style="background-image: url(images/img_9.jpg);">
						</div>
						<div class="fh5co-press-text">
							<h3 class="h2 fh5co-press-title">PAR UNO<span class="fh5co-border"></span></h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eius quos similique suscipit dolorem cumque vitae qui molestias illo accusantium...</p>
							<p><a href="#" class="btn btn-primary btn-sm">Learn more</a></p>
						</div>
					</div>
					<!-- Press Item -->
				</div>

				<div class="col-md-6">
					<!-- Press Item -->
					<div class="fh5co-press-item to-animate">
						<div class="fh5co-press-img" style="background-image: url(images/img_10.jpg);">
						</div>
						<div class="fh5co-press-text">
							<h3 class="h2 fh5co-press-title">1000SHAKES <span class="fh5co-border"></span></h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eius quos similique suscipit dolorem cumque vitae qui molestias illo accusantium...</p>
							<p><a href="#" class="btn btn-primary btn-sm">Learn more</a></p>
						</div>
					</div>
					<!-- Press Item -->
				</div>

			</div>
		</div>
	</div>
	

	<footer id="footer" role="contentinfo">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="social social-circle">
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-youtube"></i></a></li>
						<li><a href="#"><i class="icon-pinterest"></i></a></li>
						<li><a href="#"><i class="icon-linkedin"></i></a></li>
						<li><a href="#"><i class="icon-instagram"></i></a></li>
						<li><a href="#"><i class="icon-dribbble"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="row row-bottom-padded-sm">
				<div class="col-md-12">
					<p class="copyright text-center">&copy; 2016 <a href="index.html">Jobersity</a>. Todos los derechos reservados. <br>Desarrollado por <a href="http://www.wearetamo.com" target="_blank">TAMO</a>
				</div>
			</div>

		</div>
	</footer>
	<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Modal Header</h4>
	      </div>
	      <div class="modal-body">
	        <p>Some text in the modal.</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>

	  </div>
	</div>
	<div id="myModal1" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Modal Header</h4>
	      </div>
	      <div class="modal-body">
	        <p>Some text in the modal.</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>

	  </div>
	</div>


	
	<!-- For demo purposes Only ( You may delete this anytime :-) -->
	
	<!-- End demo purposes only -->

	
	<!-- jQuery Easing -->


	<!-- For demo purposes only styleswitcher ( You may delete this anytime ) -->

	
	<!-- End demo purposes only -->

	<!-- Main JS (Do not remove) -->


	</body>
</html>
