
<!DOCTYPE html>
<html > <!--<![endif]-->
	<head>
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<link rel="shortcut icon" href="favicon.ico">
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

	  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  	<%= yield(:header) if @content_for_header %>
	  	<%= csrf_meta_tags %>
	  	<style>

	  	</style>
	</head>
	<body>
	<header role="banner" id="fh5co-header">
			<div class="container">
				<!-- <div class="row"> -->
			   <%= render "layouts/navbar" %>
			  <!-- </div> -->
		  </div>
	</header>

	<%= render 'slider' %>
	<%= render 'about' %>
	<%= render 'services' %>
	<%= render 'features' %>
	<%= render 'testimonials'%>
	<%= render 'prices'%>
	<%= render 'press'%>	
	<%= render 'footer'%>	

	<!-- Modal -->
	<%= render 'sessions/registerModal' %> 
	<%= render 'sessions/loginModal' %> 
	<script type="text/javascript">
	setInterval(function() 
	{ 
		if(document.URL.indexOf("#")==-1)
    	{
		    // Set the URL to whatever it was plus "#".
		    url = document.URL+"";
		    location = "#";

		    //Reload the page
		    location.reload(true);
    }},1);

    //Check if the current URL contains '#'
    
   
</script>


	</body>
</html>
